<h1 id="projects-head">Projects</h1>

<div id="status-list">
    <h3>Status</h3>
    <ul class="horizontal">
    <% for status in @statuses %>
        <li><%= link_to status %></li>
    <% end %>
    </ul>
</div>

<div id="media-list">
    <h3>Media</h3>
    <ul class="horizontal">
    <% for medium in @media %>
    <li><%= link_to medium.name, :action => 'list', :id => medium.name %></li>
    <% end %>
    </ul>
</div>

<div id="tag-list">
    <h3>Tags</h3>
    <ul class="horizontal">
    <li><%= link_to 'all', :action => 'list', :id => 'all' %></li>
    <% for tag in @tags %>
    <li><%= 
        if params[:id] == tag.name
            "<span class=''>" + tag.name + "</span>"
        else
            link_to tag.name, :action => 'list', :id => tag.name 
        end %></li>
    <% end %>
    </ul>
</div>

<%= render :partial => "list" %> 

<%= will_paginate @projects %>

<%= link_to 'New Project', new_project_path, :class => 'admin-action' %>
