<h1>Editing medium</h1>

<%= error_messages_for :medium %>

<% form_for(@medium) do |f| %>
    <%= render :partial => 'form', :locals => { :form => f } %>
    <%= f.submit "Update" %>
<% end %>

<%= link_to 'Show', @medium %> |
<%= link_to 'Back', media_path %>
