<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Alex Coles Portfolio | <%= @page_title || params[:controller].capitalize %></title>
    <link href="/c/base.css" rel="stylesheet" type="text/css" />
    <%= javascript_include_tag 'prototype.js' %>
    <%= javascript_include_tag 'effects.js' %>
</head>

<body>

<div id="page">
<div id="masthead">
    <h2>Alex Coles Portfolio</h2>
    <ul id="mast-menu">
        <li><%= link_to 'Projects', projects_path, 
                :id => 'go2-projects',
                :title => 'View the projects I\'ve worked on.'  %></li> 
        <li><%= link_to 'Clients', clients_path, 
                :id => 'go2-clients',
                :title => 'View the clients I\'ve worked for.' %></li>
        <li><%= link_to 'Blog', '/blog', 
                :id => 'go2-blog',
                :title => 'View my blog.' %></li>
        <li><%= link_to 'Resumé', '/resume', 
                :id => 'go2-resume',
                :title => 'My formal Resumé for download.' %></li>
        <li><%= link_to 'Contact', contact_path, 
                :id => 'go2-contact',
                :title => 'Information on how to get in touch with me.' %></li>
    </ul>
</div>

<div id="session"
<% if logged_in? %>
    You are logged in as <%=h current_user.login %>.
    <%= link_to 'Logout', logout_path %>
<% else %>
    <%= link_to 'Login', login_path %> or
    <%= link_to 'Sign up', signup_path %>
<% end %>
</div>

<%= @content_for_layout %>

<div id="footer">&copy; Copyright 2007, Alex Coles.</div>

</div>

<!--
  <h1><%= link_to "Portfolio", root_url %></h1>

  <ul><% @pages.each do |page| %>
    <li><%= link_to page.title, "/#{page.slug}" %></li>
  <% end %></ul>

  <hr />

  <%= yield %>

  <hr />
  
  <p>Copyright &copy; 2008</p> -->

</body>

</html>